<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/dashboard")
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Inventory Management</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                @using (Html.BeginForm("logout", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input class="btn btn-outline-light" type="submit" value="Sign Out">
                }
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index", "Home")">
                                <span class="lead">Dashboard</span> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Assets", "Home")">
                                <span class="lead">Asset Management</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Maintainance", "Home")">
                                <span class="lead">Maintainance</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/map")
    @Scripts.Render("~/bundles/dashboard")
    @RenderSection("scripts", required: false)

    <script>
        feather.replace();
        var map = @Html.Raw(Json.Encode(Model.Map));
        var map_Json = map;

        var mapLocations = @Html.Raw(Json.Encode(Model.MapLocations));
        var mapLocations_Json = mapLocations;

        var map_1 = AmCharts.makeChart("asset", {
            "type": "map",
            "theme": "light",
            "colorSteps": 10,

            "dataProvider": {
                "map": "usaLow",
                "areas": map_Json,
                "images": mapLocations_Json
            },

            "areasSettings": {
                "autoZoom": true
            },

            "valueLegend": {
                "right": 100,
                "minValue": "No Assets",
                "maxValue": "Many Assets"
            },

            "export": {
                "enabled": true
            }

        });
    </script>
</body>
</html>
