@model CSE_5320.Models.Dashboard.EditAssetModel

<div class="modal fade" id="editAssetModal" tabindex="-1" role="dialog" aria-labelledby="Asset information" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    @Model.AssetName
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditAsset", "Dashboard", FormMethod.Post, new { @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.AssetId)
                    <div class="container">
                        <div class="form-group">
                            <label for="SerialNumber">Serial number</label>
                            @Html.TextBoxFor(l => l.SerialNumber, new { @id = "SerialNumber", @class = "form-control", @placeholder = "Update the serial number" })
                        </div>
                        <div class="form-group">
                            <label for="CPU">CPU</label>
                            @Html.TextBoxFor(l => l.Cpu, new { @id = "cpu", @class = "form-control", @placeholder = "Enter the CPU configuration" })
                            <div id="cpuContainer" style="display:block; position: relative" />
                        </div>

                        <div class="form-group">
                            <label for="Memory">Memory</label>
                            @Html.TextBoxFor(l => l.Memory, new { @id = "memory", @class = "form-control", @placeholder = "Enter the Memory configuration" })
                            <div id="memoryContainer" style="display:block; position: relative" />
                        </div>

                        <div class="form-group">
                            <label for="OS">OS</label>
                            @Html.TextBoxFor(l => l.OS, new { @id = "os", @class = "form-control", @placeholder = "Enter the Operating system" })
                            <div id="osContainer" style="display:block; position: relative" />
                        </div>
                    </div>
                    <hr />

                    <div class="float-right">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-outline-success" type="submit">Update Asset</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#additional_computer_details").hide();
        $("#additional_software_details").hide();
        hideDate();
    });

    function showComputer() {
        $("#additional_computer_details").show();
        $("#additional_software_details").hide();
    }

    function showSoftware() {
        $("#additional_computer_details").hide();
        $("#additional_software_details").show();
    }

    function showDate() {
        $("#expirationDateDiv").show();
    }

    function hideDate() {
        $("#expirationDateDiv").hide();
    }

    var cpuList = @Html.Raw(Model.CpuList);

    $("#cpu").autocomplete({
        source: cpuList,
        appendTo: "#cpuContainer"
    });

    var memoryList = @Html.Raw(Model.MemoryList);

    $("#memory").autocomplete({
        source: memoryList,
        appendTo: "#memoryContainer"
    });

    var osList = @Html.Raw(Model.OsList);

    $("#os").autocomplete({
        source: osList,
        appendTo: "#osContainer"
    });
</script>