@model CSE_5320.Models.Home.HomeModel
@{
    ViewBag.Title = "Dashboard";
}

<main role="main" class="container">
    <div class="align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="float-right">
            <button type="button" class="btn btn-outline-light " onclick="loadAssets('computer')">Request a Computer asset</button>
            <button type="button" class="btn btn-outline-light" onclick="loadAssets('software')">Request a Software asset</button>
        </div>
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Asset Management</h6>
            <small>Inventory Management</small>
        </div>
    </div>

    <div class="alert alert-success" id="requestSent" role="alert">
        Asset request Sent
    </div>

    <div class="alert alert-success" id="returnRequestSent" role="alert">
        Asset return request sent. Please wait for the Admin to approve
    </div>

    <div class="alert alert-warning" id="somethingWentWrong" role="alert">
        Something went wrong
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="assetData_loader_border" class="my-3 p-3 bg-white rounded box-shadow">
                <div id="assetData_loader" class="loader"></div>
            </div> 
            <div id="assetData">
                @Html.Partial("PartialViews/_assetData", Model)
            </div>
        </div>
    </div>

</main>

<script>
    $(document).ready(function () {
        hideMessages();
        loadData();
    });

    function hideMessages() {
        $("#requestSent").hide();
        $("#returnRequestSent").hide();
        $("#somethingWentWrong").hide();
    }

    function loadData() {
        loadAssetRequests();
    }

    function loadAssetRequests() {
        $("#assetData").hide();
        $("#assetData_loader").show();
        $("#assetData_loader_border").show(); 
        

        var src = "@Url.Action("getUserAssetRequests", "Home", new { area = "" })";

        $.ajax({
            url: src,
            type: 'GET',
            cache: false,
            data: {}
        }).done(function (result) {
            $('#assetData').html(result);

            $("#assetData_loader").hide();
            $("#assetData_loader_border").hide(); 
            $("#assetData").show();
         });
    }

    function loadAssets(type) {
      var src = '@Url.Action("loadAssets", "Home", new { area = "" })' + '?Type=' + type;

      $.ajax({
        type: "GET",
        url: src,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            hideMessages();
            $("#requestModalContainer").html(data.LocationModal);
            $('#requestModal').modal('show');
        },
        Error: function (data) {
            hideMessages();
            $("#somethingWentWrong").show();
            $('#requestModal').modal('hide');
        }
      });
    }

    function requestAsset(assetId) {
        var date_Id = '#requestDate_' + assetId;
        var toDate = $(date_Id).val();
          if (toDate == "") {
              alert("Enter the date till when you require the asset");
          }
          else {

              var d1 = new Date();
              var d2 = new Date(toDate);

              if (d1 > d2){
                  alert("Cannot enter a day in the past");
              }
              else {
                  var src = '@Url.Action("RequestAsset", "Asset", new { area = "" })' + '?assetId=' + assetId + '&toDate=' + toDate;

                  $.ajax({
                    type: "POST",
                    url: src,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#requestModal').modal('hide');
                        $('#requestSent').show();
                        loadData();
                    },
                    Error: function (data) {
                        hideMessages();
                        $("#somethingWentWrong").show();
                        $('#requestModal').modal('hide');
                    }
                  });
              }
          }
    }

    function returnAsset(assetId) {
        var src = '@Url.Action("ReturnAsset", "Asset", new { area = "" })' + '?assetId=' + assetId;
        $.ajax({
            type: "POST",
            url: src,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#returnRequestSent').show();
                loadData();
            },
            Error: function (data) {
                hideMessages();
                $("#somethingWentWrong").show();
            }
        });
    }


    function loadInfo(Id) {
      var src = '@Url.Action("Assetinfo", "Home", new { area = "" })'+ '?Id='+Id;

      $.ajax({
        type: "GET",
        url: src,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            hideMessages();
            $("#assetModalContainer").html(data.LocationModal);
            $('#assetModal').modal('show');
        },
        Error: function (data) {
            hideMessages();
            $("#somethingWentWrong").show();
            $('#assetModal').modal('hide');
        }
      });
    }
</script>

<div id="requestModalContainer"></div>
<div id="assetModalContainer"></div>