@model CSE_5320.Models.Home.HomeModel

<div class="row">
    <div class="col-md-4">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h3>Asset requests</h3><hr />
            @if (Model.UserAssets.Count > 0)
            {
                foreach (var a in Model.UserAssets)
                {
                    @*Requested*@
                    if (a.StatusId == 5)
                    {
                        @a.AssetName

                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="loadInfo(@a.AsserRequestId)">
                            Click for info
                        </button>

                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="cancelRequest(@a.AsserRequestId)">Cancel</button>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            There are no assets
                        </div>
                    }
                    <br />
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    There are no requests
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h3>Asset List</h3><hr />
            @if (Model.UserAssets.Count > 0)
            {
                foreach (var a in Model.UserAssets)
                {
                    @*Approved*@
                    if (a.StatusId == 6)
                    {
                        @a.AssetName

                        <button type="button" class="btn btn-outline-dark btn-sm" onclick="loadInfo(@a.AsserRequestId)">
                            Click for info
                        </button>

                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="returnAsset(@a.AsserRequestId)">Return</button>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            There are no assets
                        </div>
                    }
                    <br />
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    There are no requests
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h3>Asset History</h3><hr />

            @if (Model.UserAssetsHistory.Count > 0)
            {
                <div class="card">
                    <div class="card-body">
                        <table class="table" style="border:none">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>

                            @foreach (var a in Model.UserAssetsHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td scope="row">@a.AssetName</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-dark btn-sm" onclick="loadInfo(@a.AsserRequestId)">View</button>
                                        </td>
                                        <td>
                                            @switch (a.StatusId)
                                            {
                                                case 1:
                                                    <span>Active</span>
                                                    break;
                                                case 2:
                                                    <span>In Active</span>
                                                    break;
                                                case 3:
                                                    <span>Available</span>
                                                    break;
                                                case 4:
                                                    <span>Returned</span>
                                                    break;
                                                case 5:
                                                    <span>Requested</span>
                                                    break;
                                                case 6:
                                                    <span>Approved</span>
                                                    break;
                                                case 7:
                                                    <span>Denied</span>
                                                    break;
                                                case 8:
                                                    <span>Asset return requested</span>
                                                    break;
                                                case 9:
                                                    <span>Asset return confirmed</span>
                                                    break;
                                                case 10:
                                                    <span>Asset return denied</span>
                                                    break;
                                                case 11:
                                                    <span>canceled</span>
                                                    break;
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    There are no requests
                </div>
            }
        </div>
    </div>
</div>












