@{
    ViewBag.Title = "Asset management";
}
@model CSE_5320.Models.ViewModels.AssetViewModel

<main role="main" class="container">
    <div class="align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="float-right">
            @Html.ActionLink("Back to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-outline-light float-right" })
        </div>
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Asset Requests</h6>
            <small>Below are a list of assets that have been requested. Click on the asset name to get information about the asset</small>
        </div>
    </div>


    <div class="alert alert-success" id="confirmedAsset" role="alert">
        Asset request confirmed
    </div>

    <div class="alert alert-danger" id="deniedAsset" role="alert">
        Asset request denied
    </div>

    <div class="alert alert-warning" id="somethingWentWrong" role="alert">
        Something went wrong
    </div>


    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="assetRequestData">
            @Html.Partial("PartialViews/_assetRequestData", Model)
        </div>
    </div>

    <div class="align-items-center p-3 my-3 text-white-50 bg-info rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Asset Requests: Confirmed</h6>
            <small>Below are a list of assets that have been Confirmed</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="confirmedAssets">
            @Html.Partial("PartialViews/_assetRequestConfirmedData", Model)
        </div>
    </div>

    <div class="align-items-center p-3 my-3 text-white-50 bg-danger rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Asset Requests: Denied</h6>
            <small>Below are a list of assets that have been denied</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="deniedAssets">
            @Html.Partial("PartialViews/_assetRequestDeniedData", Model)
        </div>
    </div>
</main>

<script>

    $(document).ready(function () {
        hideMessages();
        loadTables();
    });

    function hideMessages() {
        $("#confirmedAsset").hide();
        $("#deniedAsset").hide();
        $("#somethingWentWrong").hide();
    }

    function loadTables() {
        loadRequestsTable();
        loadConfirmedRequestsTable();
        loadDeniedRequestsTable();
    }

    function loadRequestsTable() {

        var src = "@Url.Action("getAssetRequestData", "Asset", new { area = "" })";

        $.ajax({
            url: src,
            type: 'GET',
            cache: false,
            data: {}
        }).done(function(result) {
            $('#assetRequestData').html(result);
         });

    }

    function loadConfirmedRequestsTable() {

        var src = "@Url.Action("getAssetRequestConfirmedData", "Asset", new { area = "" })";

        $.ajax({
            url: src,
            type: 'GET',
            cache: false,
            data: {}
        }).done(function(result) {
            $('#confirmedAssets').html(result);
         });

    }

    function loadDeniedRequestsTable() {

        var src = "@Url.Action("getAssetRequestDeniedData", "Asset", new { area = "" })";

        $.ajax({
            url: src,
            type: 'GET',
            cache: false,
            data: {}
        }).done(function(result) {
            $('#deniedAssets').html(result);
         });

    }

    function confirmRequest(Id) {
      var src = '@Url.Action("ConfirmRequest", "Asset", new { area = "" })';

      var data = {
          Id: Id
      };

      $.ajax({
          type: "POST",
          url: src,
          content: "application/json; charset=utf-8",
          dataType: "json",
          data: data,
          success: function (d) {
              hideMessages();
              $("#confirmedAsset").show();
              $('#assetModal').modal('hide');
              loadTables();
          },
          error: function (xhr, textStatus, errorThrown) {
              hideMessages();
              $("#somethingWentWrong").show();
              $('#assetModal').modal('hide');
          }
      });

    };

    function denyRequest(Id) {
      var src = '@Url.Action("DenyRequest", "Asset", new { area = "" })';

      var data = {
          Id: Id
      };

      $.ajax({
          type: "POST",
          url: src,
          content: "application/json; charset=utf-8",
          dataType: "json",
          data: data,
          success: function (d) {
              hideMessages();
              $("#deniedAsset").show();
              $('#assetModal').modal('hide');
              loadTables();
          },
          error: function (xhr, textStatus, errorThrown) {
              hideMessages();
              $("#somethingWentWrong").show();
              $('#assetModal').modal('hide');
          }
      });
    };

    function loadInfo(Id) {
      var src = '@Url.Action("Assetinfo", "Asset", new { area = "" })'+ '?Id='+Id;

      $.ajax({
        type: "GET",
        url: src,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            hideMessages();
            $("#assetModalContainer").html(data.LocationModal);
            $('#assetModal').modal('show');
        },
        Error: function (data) {
            hideMessages();
            $("#somethingWentWrong").show();
            $('#assetModal').modal('hide');
        }
      });
    }

</script>

<div id="assetModalContainer"></div>