@model CSE_5320.Models.Dashboard.DasboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Admin Console</h6>
            <small>Inventory Management</small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="bg-white rounded box-shadow">
                <div class="card-body">

                    @if (Model.AssetRequestCount > 0)
                    {
                        <h5 class="card-title">Asset requests <span class="badge badge-pill badge-warning float-right">@Model.AssetRequestCount</span></h5>
                    }
                    else
                    {
                        <h5 class="card-title">Asset requests <span class="badge badge-pill badge-warning float-right">Nothing new</span></h5>
                    }

                    <p class="card-text">Add some description</p>
                    @Html.ActionLink("Show requests", "Requests", "Asset", new { }, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white rounded box-shadow">
                <div class="card-body">

                    @if (Model.AssetReturnConfirmationCount > 0)
                    {
                        <h5 class="card-title">Asset returns <span class="badge badge-pill badge-warning float-right">@Model.AssetReturnConfirmationCount</span></h5>
                    }
                    else
                    {
                        <h5 class="card-title">Asset returns <span class="badge badge-pill badge-warning float-right">Nothing new</span></h5>
                    }

                    <p class="card-text">Add some description</p>
                    @Html.ActionLink("Show returns", "Return", "Asset", new { }, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white rounded box-shadow">
                <div class="card-body">

                    @if (Model.SuccessMessage)
                    {
                        <div class="alert alert-success" id="assetSuccess" role="alert">
                            Asset successfully added
                        </div>
                    }

                    @if (Model.EditSuccessMessage)
                    {
                        <div class="alert alert-success" id="assetEditSuccess" role="alert">
                            Asset successfully Edited
                        </div>
                    }

                    <div class="alert alert-danger" id="assetDelete" role="alert">
                        Asset successfully deleted
                    </div>

                    <button type="button" class="btn btn-outline-primary float-right" onclick="addAsset()">Add an asset</button>
                    <h3 class="card-title">List of Assets</h3>

                    <div id="assetList_loader" class="loader"></div>
                    <div id="assetList"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
$(document).ready(function () {
    loadData();
    $("#assetDelete").hide();
});


function loadData() {
    $("#assetList_loader").show();

    var src = '@Url.Action("loadAssets", "Dashboard", new { area = "" })';

    $.ajax({
        url: src,
        type: 'GET',
        cache: false,
        data: {}
    }).done(function (result) {
        $('#assetList').html(result);
        $("#assetList_loader").hide();
        $("#assetList").show();
    });
    }

    function addAsset() {
        $("#assetDelete").hide();

        var src = '@Url.Action("newAsset", "Dashboard", new { area = "" })';

      $.ajax({
        type: "GET",
        url: src,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            $("#newAssetModalContainer").html(data.LocationModal);
            $('#newAssetModal').modal('show');
        },
        Error: function (data) {
            $('#newAssetModal').modal('hide');
        }
      });
    }

    function editAsset(Id) {
        $("#assetDelete").hide();

        var src = '@Url.Action("editAsset", "Dashboard", new { area = "" })' + '?Id=' + Id;

      $.ajax({
        type: "GET",
        url: src,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            $("#editAssetModalContainer").html(data.LocationModal);
            $('#editAssetModal').modal('show');
        },
        Error: function (data) {
            $('#editAssetModal').modal('hide');
        }
      });
    }

    function loadInfo(Id) {
        var src = '@Url.Action("Assetinfo", "Dashboard", new { area = "" })'+ '?Id='+Id;

              $.ajax({
                type: "GET",
                url: src,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#assetModalContainer").html(data.LocationModal);
                    $('#assetInfoModal').modal('show');
                },
                Error: function (data) {
                    $('#assetInfoModal').modal('hide');
                }
              });
        }

        function deleteAsset(Id) {
            var x = confirm("Are you sure you want to delete this asset?");
            if (x) {
                var src = '@Url.Action("DeleteAsset", "Dashboard", new { area = "" })'+ '?Id='+Id;

                  $.ajax({
                    type: "POST",
                    url: src,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) { 
                        $("#assetEditSuccess").hide();
                        $("#assetSuccess").hide();
                        $("#assetDelete").show();
                        loadData();
                    },
                    Error: function (data) {

                    }
                  });
                }
                else
                    return false;
            }
</script>

<div id="assetModalContainer"></div>
<div id="newAssetModalContainer"></div>
<div id="editAssetModalContainer"></div>