@model CSE_5320.Models.ViewModels.AssetInformationViewModel

<div class="modal fade bd-example-modal-lg" id="assetModal" tabindex="-1" role="dialog" aria-labelledby="Asset information" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                   @Model.AssetName
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Asset Specifications
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Type</th>
                                            <td>@Model.AssetType</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">CPU</th>
                                            <td>@Model.CpuName @Model.CpuVersion</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Memory</th>
                                            <td>@Model.Memory</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">OS</th>
                                            <td>@Model.OsName</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Serial Number</th>
                                            <td>@Model.SerialNumber</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Warranty Status</th>
                                            <td>@Model.WarrantyStatus</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Technical contact</th>
                                            <td>@Model.TechnicalContact</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Request information
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Requesting user</th>
                                            <td>@Model.RequestingUser</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Duration</th>
                                            <td>@Model.Duration</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success">Confirm</button>
                <button type="button" class="btn btn-outline-danger">Deny</button>
            </div>
        </div>
    </div>
</div>